ul.tabbed_header li.selected_tab {
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    font-weight: bold;
    /*border-color: #CCCCCC;*/

    /*padding-bottom: 13px;*/
}

div.tabbed_div {
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    /*border: 1px solid #CCCCCC;*/
    margin-bottom: 5px;
    padding-top: 12px;
    /*width: 620px;*/
    display: none;
    /*line-height:1.8em;*/
}

div.tabbed_div2 {
    margin-top: 10px;
}

div.selected_tabbed_div {
    display: block;
}

/* Leave space at the bottom of a div/section having this class ('-sm' and '-xs' for smaller size) */
.page-section {
    margin-bottom: 45px;
}

.page-section-sm {
    margin-bottom: 30px;
}

.page-section-xs {
    margin-bottom: 10px;
}

/* Reduce header top margin */
.page-header {
    margin-top: 20px;
}

/* Add small icon if target of link is '_blank' */
/* a[target="_blank"]:after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	margin: 0 3px 0 5px;
} */

/* Small breadcrumbs */
.breadcrumb-sm {
    font-size: 77%;
}


/* Beta label */
.label-beta {
    background-color: #1abc9c;
    font-weight: normal;
    padding: 0em 0.45em 0em 0.45em;
    font-size: 65%;
}

/****************************/
/* Experiment sidebar style */
/*   WORK IN PROGRESS !!!   */
/****************************/

/* -- Box model ------------------------------- */
/**,*/
/**:after,*/
/**:before {*/
/*-webkit-box-sizing: border-box;*/
/*-moz-box-sizing: border-box;*/
/*box-sizing: border-box;*/
/*}*/
/* CodePen demo style */
/*html!*,*!*/
/*body {*/
/*position: relative;*/
/*min-height: 100%;*/
/*height: 100%;*/
/*}*/
body {
    /*font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;*/
    /*font-style: normal;*/
    /*font-weight: 300;*/
    /*font-size: 14px;*/
    /*line-height: 1.4;*/
    /*color: #212121;*/
    /*background-color: #f5f5f5;*/
    /*background-color: #ffffff;*/
    background-color: #fcfcfc;
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*text-rendering: optimizeLegibility;*/
}


.sidebar-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: #000;
    /*z-index: 1034;*/
    z-index: 750;
    -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.sidebar-overlay.active {
    opacity: 0.5;
    visibility: visible;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
}

.dropdown-menu {
    display: none;
}

/* Side content style */
.side-content {
    margin-top: 73px; /* 50 + 23 px */
    position: relative;
    /*margin: 0;*/
    padding: 0 50px;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.sidebar,
.content-wrapper {
    /*display: table-cell; !* To comment if used layout is 'fixed'! *!*/
    vertical-align: top;
}

.sidebar-stacked.open + .content-wrapper .side-content {
    margin-left: 240px;
}

@media (max-width: 768px) {
    .sidebar-stacked.open + .content-wrapper .side-content {
        margin-left: 210px;
    }
}

/* Sidebar style */
.sidebar {
    position: relative;
    display: block;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.sidebar:before,
.sidebar:after {
    content: " ";
    display: table;
}

.sidebar:after {
    clear: both;
}

.sidebar::-webkit-scrollbar-track {
    border-radius: 2px;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #BFBFBF;
}

.sidebar .sidebar-header {
    position: relative;
    /*height: 157.5px;*/
    /*margin-bottom: 8px;*/
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 50px;
}

.sidebar .sidebar-header:hover .sidebar-toggle {
    opacity: 1;
}

.sidebar .sidebar-toggle {
    position: relative;
    float: right;
    margin: 16px;
    padding: 0;
    background-image: none;
    border: none;
    height: 40px;
    width: 40px;
    font-size: 20px;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sidebar .sidebar-toggle:before,
.sidebar .sidebar-toggle:after {
    content: " ";
    display: table;
}

.sidebar .sidebar-toggle:after {
    clear: both;
}

.sidebar .icon-material-sidebar-arrow:before {
    content: "\e610";
}

.sidebar .sidebar-image img {
    width: 54px;
    height: 54px;
    margin: 16px;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sidebar .sidebar-brand {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 48px;
    /*line-height: 48px;*/
    padding: 0;
    /*padding-left: 16px;*/
    /*padding-right: 56px;*/
    text-decoration: none;
    clear: both;
    /*font-weight: 500;*/
    font-weight: normal;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
    text-align: center;
}

.sidebar .sidebar-brand:hover,
.sidebar .sidebar-brand:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.sidebar .sidebar-brand .caret {
    position: absolute;
    /*right: 24px;*/
    right: 15px;
    top: 24px;
}

.sidebar .sidebar-brand .sidebar-badge {
    position: absolute;
    right: 16px;
    top: 12px;
}

.sidebar .sidebar-brand:hover,
.sidebar .sidebar-brand:focus {
    text-decoration: none;
}

.sidebar .sidebar-badge {
    display: inline-block;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0 3px;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.sidebar .sidebar-badge.badge-circle {
    border-radius: 50%;
}

.sidebar .sidebar-divider,
.sidebar .sidebar-nav .divider {
    position: relative;
    display: block;
    height: 1px;
    margin: 8px 0;
    padding: 0;
    overflow: hidden;
}

.sidebar .sidebar-text {
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    padding-right: 56px;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sidebar .sidebar-text:hover,
.sidebar .sidebar-text:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.sidebar .sidebar-text .caret {
    position: absolute;
    /*right: 24px;*/
    right: 15px;
    top: 24px;
}

.sidebar .sidebar-text .sidebar-badge {
    position: absolute;
    right: 16px;
    top: 12px;
}

.sidebar .sidebar-icon {
    display: inline-block;
    margin-right: 16px;
    min-width: 40px;
    width: 40px;
    text-align: left;
    font-size: 20px;
}

.sidebar .sidebar-icon:before,
.sidebar .sidebar-icon:after {
    vertical-align: middle;
}

.sidebar .sidebar-nav {
    margin: 0;
    padding: 0;
}

.sidebar .sidebar-nav li {
    position: relative;
    list-style-type: none;
}

.sidebar .sidebar-nav li a {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    /*padding-right: 56px;*/
    padding-right: 16px;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.sidebar .sidebar-nav li a:hover,
.sidebar .sidebar-nav li a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.sidebar .sidebar-nav li a .caret {
    position: absolute;
    /*right: 24px;*/
    right: 15px;
    top: 24px;
}

.sidebar .sidebar-nav li a .sidebar-badge {
    position: absolute;
    right: 16px;
    top: 12px;
}

.sidebar .sidebar-nav li a:hover {
    background: transparent;
}

.sidebar .sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar-default {
    background-color: #fff;
}

.sidebar-default .sidebar-header {
    /*background-color: #eceff1;*/
    background-color: #2196f3;
}

.sidebar-default .sidebar-toggle {
    color: #212121;
    background-color: transparent;
}

.sidebar-default .sidebar-brand {
    /*color: #757575;*/
    /*background-color: transparent;*/
    color: #b2dbfb;
    text-align: center;
    font-size: 160%;
}

.sidebar-default .sidebar-brand:hover,
.sidebar-default .sidebar-brand:focus {
    /*color: #212121;*/
    color: #ffffff;
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

.sidebar-default .sidebar-badge {
    color: #fff;
    background-color: #bdbdbd;
}

.sidebar-default .sidebar-divider,
.sidebar-default .sidebar-nav .divider {
    background-color: #bdbdbd;
}

.sidebar-default .sidebar-text {
    color: #212121;
}

.sidebar-default .sidebar-nav li > a {
    color: #212121;
    background-color: transparent;
}

.sidebar-default .sidebar-nav li > a i {
    color: #757575;
}

.sidebar-default .sidebar-nav li:hover > a,
.sidebar-default .sidebar-nav li > a:hover {
    color: #212121;
    background-color: #e0e0e0;
}

.sidebar-default .sidebar-nav li:hover > a i,
.sidebar-default .sidebar-nav li > a:hover i {
    color: #757575;
}

.sidebar-default .sidebar-nav li:focus > a,
.sidebar-default .sidebar-nav li > a:focus {
    color: #212121;
    background-color: transparent;
}

.sidebar-default .sidebar-nav li:focus > a i,
.sidebar-default .sidebar-nav li > a:focus i {
    color: #757575;
}

.sidebar-default .sidebar-nav > .open > a,
.sidebar-default .sidebar-nav > .open > a:hover,
.sidebar-default .sidebar-nav > .open > a:focus {
    color: #212121;
    background-color: #e0e0e0;
}

.sidebar-default .sidebar-nav > .active > a,
.sidebar-default .sidebar-nav > .active > a:hover,
.sidebar-default .sidebar-nav > .active > a:focus {
    color: #212121;
    background-color: #e0e0e0;
    border-left: 4px solid #64b5f6;
}

.sidebar-default .sidebar-nav > .disabled > a,
.sidebar-default .sidebar-nav > .disabled > a:hover,
.sidebar-default .sidebar-nav > .disabled > a:focus {
    color: #e0e0e0;
    background-color: transparent;
}

.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu {
    background-color: #e0e0e0;
}

.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
    background-color: #e0e0e0;
    color: #212121;
}

.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
    background-color: #cecece;
    color: #212121;
}

.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
    color: #212121;
    background-color: #e0e0e0;
    border-left: 4px solid #64b5f6;
}

/*}*/
.sidebar-inverse {
    background-color: #212121;
}

.sidebar-inverse .sidebar-header {
    /*background-color: #eceff1;*/
    background-color: #2196f3;
}

.sidebar-inverse .sidebar-toggle {
    color: #212121;
    background-color: transparent;
}

.sidebar-inverse .sidebar-brand {
    /*color: #757575;*/
    /*background-color: transparent;*/
    color: #b2dbfb;
    text-align: center;
    font-size: 160%;
}

.sidebar-inverse .sidebar-brand:hover,
.sidebar-inverse .sidebar-brand:focus {
    /*color: #212121;*/
    color: #ffffff;
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

.sidebar-inverse .sidebar-badge {
    color: #212121;
    background-color: #e0e0e0;
}

.sidebar-inverse .sidebar-divider,
.sidebar-inverse .sidebar-nav .divider {
    background-color: #bdbdbd;
}

.sidebar-inverse .sidebar-text {
    color: #f5f5f5;
}

.sidebar-inverse .sidebar-nav li > a {
    color: #f5f5f5;
    background-color: transparent;
}

.sidebar-inverse .sidebar-nav li > a i {
    color: #bdbdbd;
}

.sidebar-inverse .sidebar-nav li:hover > a,
.sidebar-inverse .sidebar-nav li > a:hover {
    color: #bdbdbd;
    background-color: #000;
}

.sidebar-inverse .sidebar-nav li:hover > a i,
.sidebar-inverse .sidebar-nav li > a:hover i {
    color: #bdbdbd;
}

.sidebar-inverse .sidebar-nav li:focus > a,
.sidebar-inverse .sidebar-nav li > a:focus {
    color: #f5f5f5;
    background-color: transparent;
}

.sidebar-inverse .sidebar-nav li:focus > a i,
.sidebar-inverse .sidebar-nav li > a:focus i {
    color: #bdbdbd;
}

.sidebar-inverse .sidebar-nav > .open > a,
.sidebar-inverse .sidebar-nav > .open > a:hover,
.sidebar-inverse .sidebar-nav > .open > a:focus {
    color: #bdbdbd;
    background-color: #000;
}

.sidebar-inverse .sidebar-nav > .active > a,
.sidebar-inverse .sidebar-nav > .active > a:hover,
.sidebar-inverse .sidebar-nav > .active > a:focus {
    color: #f5f5f5;
    background-color: #000;
    border-left: 4px solid #64b5f6;
}

.sidebar-inverse .sidebar-nav > .disabled > a,
.sidebar-inverse .sidebar-nav > .disabled > a:hover,
.sidebar-inverse .sidebar-nav > .disabled > a:focus {
    color: #757575;
    background-color: transparent;
}

.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu {
    background-color: #000;
}

.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
    background-color: #000;
    color: #bdbdbd;
}

.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
    background-color: #000000;
    color: #bdbdbd;
}

.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
    color: #f5f5f5;
    background-color: #000;
    border-left: 4px solid #64b5f6;
}

.sidebar-colored {
    background-color: #fff;
}

.sidebar-colored .sidebar-header {
    /*background-color: #2196f3;*/
    /*background-color: #ffffff;*/
    background-color: #2196f3;
}

.sidebar-colored .sidebar-toggle {
    color: #f5f5f5;
    background-color: transparent;
}

.sidebar-colored .sidebar-brand {
    /*color: #2196f3;*/
    /*background-color: transparent;*/
    /*background-color: #ffffff;*/
    color: #b2dbfb;
    text-align: center;
    font-size: 160%;
}

.sidebar-colored .sidebar-brand:hover,
.sidebar-colored .sidebar-brand:focus {
    /*color: #f5f5f5;*/
    color: #ffffff;
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

.sidebar-colored .sidebar-badge {
    color: #fff;
    background-color: #42a5f5;
}

.sidebar-colored .sidebar-divider,
.sidebar-colored .sidebar-nav .divider {
    background-color: #bdbdbd;
    /*background-color: #2196f3;*/
}

.sidebar-colored .sidebar-text {
    color: #212121;
}

/* Add color for disabled items (depending on processing state of experiment) */
.sidebar .sidebar-disabled {
    color: #bbbbbb;
    /*font-weight: 300;*/
}

.sidebar-colored .sidebar-nav li > a {
    color: #212121;
    background-color: transparent;
}

.sidebar-colored .sidebar-nav li > a i {
    color: #757575;
}

.sidebar-colored .sidebar-nav li:hover > a,
.sidebar-colored .sidebar-nav li > a:hover {
    color: #2196f3;
    background-color: #e0e0e0;
}

.sidebar-colored .sidebar-nav li:hover > a i,
.sidebar-colored .sidebar-nav li > a:hover i {
    color: #64b5f6;
}

.sidebar-colored .sidebar-nav li:focus > a,
.sidebar-colored .sidebar-nav li > a:focus {
    color: #212121;
    background-color: transparent;
}

.sidebar-colored .sidebar-nav li:focus > a i,
.sidebar-colored .sidebar-nav li > a:focus i {
    color: #64b5f6;
}

.sidebar-colored .sidebar-nav > .open > a,
.sidebar-colored .sidebar-nav > .open > a:hover,
.sidebar-colored .sidebar-nav > .open > a:focus {
    color: #2196f3;
    background-color: #e0e0e0;
}

.sidebar-colored .sidebar-nav > .active > a,
.sidebar-colored .sidebar-nav > .active > a:hover,
.sidebar-colored .sidebar-nav > .active > a:focus {
    color: #212121;
    background-color: #f5f5f5;
    border-left: 4px solid #64b5f6;
}

.sidebar-colored .sidebar-nav > .disabled > a,
.sidebar-colored .sidebar-nav > .disabled > a:hover,
.sidebar-colored .sidebar-nav > .disabled > a:focus {
    color: #e0e0e0;
    background-color: transparent;
}

.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu {
    background-color: #e0e0e0;
}

.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
    background-color: #e0e0e0;
    color: #2196f3;
}

.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
    background-color: #cecece;
    color: #2196f3;
}

.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
    color: #212121;
    background-color: #f5f5f5;
    border-left: 4px solid #64b5f6;
}

.sidebar-colored-inverse {
    background-color: #2196f3;
}

.sidebar-colored-inverse .sidebar-header {
    /*background-color: #eceff1;*/
    background-color: #2196f3;
}

.sidebar-colored-inverse .sidebar-toggle {
    color: #212121;
    background-color: transparent;
}

.sidebar-colored-inverse .sidebar-brand {
    /*color: #757575;*/
    /*background-color: transparent;*/
    /*text-align: center;*/
    color: #b2dbfb;
    text-align: center;
    font-size: 160%;
}

.sidebar-colored-inverse .sidebar-brand:hover,
.sidebar-colored-inverse .sidebar-brand:focus {
    color: #ffffff;
    /*color: #212121;*/
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

.sidebar-colored-inverse .sidebar-badge {
    color: #212121;
    background-color: #e0e0e0;
}

.sidebar-colored-inverse .sidebar-divider,
.sidebar-colored-inverse .sidebar-nav .divider {
    background-color: #bdbdbd;
}

.sidebar-colored-inverse .sidebar-text {
    color: #e0e0e0;
}

.sidebar-colored-inverse .sidebar-nav li > a {
    color: #f5f5f5;
    background-color: transparent;
}

.sidebar-colored-inverse .sidebar-nav li > a i {
    color: #e0e0e0;
}

.sidebar-colored-inverse .sidebar-nav li:hover > a,
.sidebar-colored-inverse .sidebar-nav li > a:hover {
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-colored-inverse .sidebar-nav li:hover > a i,
.sidebar-colored-inverse .sidebar-nav li > a:hover i {
    color: #f5f5f5;
}

.sidebar-colored-inverse .sidebar-nav li:focus > a,
.sidebar-colored-inverse .sidebar-nav li > a:focus {
    color: #f5f5f5;
    background-color: transparent;
}

.sidebar-colored-inverse .sidebar-nav li:focus > a i,
.sidebar-colored-inverse .sidebar-nav li > a:focus i {
    color: #f5f5f5;
}

.sidebar-colored-inverse .sidebar-nav > .open > a,
.sidebar-colored-inverse .sidebar-nav > .open > a:hover,
.sidebar-colored-inverse .sidebar-nav > .open > a:focus {
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-colored-inverse .sidebar-nav > .active > a,
.sidebar-colored-inverse .sidebar-nav > .active > a:hover,
.sidebar-colored-inverse .sidebar-nav > .active > a:focus {
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.2);
    border-left: 4px solid #64b5f6;
}

.sidebar-colored-inverse .sidebar-nav > .disabled > a,
.sidebar-colored-inverse .sidebar-nav > .disabled > a:hover,
.sidebar-colored-inverse .sidebar-nav > .disabled > a:focus {
    color: #bdbdbd;
    background-color: transparent;
}

.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
    background-color: rgba(0, 0, 0, 0.1);
    color: #f5f5f5;
}

.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #f5f5f5;
}

.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.2);
    border-left: 4px solid #64b5f6;
}

.sidebar {
    width: 0;
    -webkit-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0);
}

.sidebar.open {
    min-width: 240px;
    width: 240px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sidebar-fixed-left,
.sidebar-fixed-right,
.sidebar-stacked {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 900;
}

.sidebar-stacked {
    left: 0;
}

.sidebar-fixed-left {
    left: 0;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
}

.sidebar-fixed-right {
    right: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
}

.sidebar-fixed-right.open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sidebar-fixed-right .icon-material-sidebar-arrow:before {
    content: "\e614";
}

@media (max-width: 768px) {
    .sidebar.open {
        min-width: 210px;
        width: 210px;
    }

    .sidebar .sidebar-header {
        /*height: 135px;*/
    }

    .sidebar .sidebar-image img {
        width: 44px;
        height: 44px;
    }
}

.sidebar-shadow {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


/*************************/
/* Experiment header bar */
/*************************/

/* Quick prototyping of a header bar */
.header-bar {
    height: 50px;
    background-color: #2196f3;
    color: #fff;
    /*position: relative;*/
    margin: 0;
    /*margin-bottom: 23px;*/
    z-index: 1000;
    border-left: 1px #eeeeee solid;
    padding: 0 0px;
    padding-right: 10px;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    /*-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);*/
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);*/
    -webkit-box-shadow: none;
    box-shadow: none;

}

.sidebar-stacked.open + .content-wrapper .header-bar {
    margin-left: 240px;
}

@media (max-width: 768px) {
    .sidebar-stacked.open + .content-wrapper .header-bar {
        margin-left: 210px;
    }

    /* Overriding collapse behaviour of bootstrap for header bar elements... */
    .header-bar .navbar-nav {
        margin: 0;
    }

    .header-bar .navbar-collapse.collapse {
        display: block;
    }

    .header-bar .navbar-nav > li, .navbar-nav {
        float: left;
    }

    .header-bar .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }

    .header-bar .navbar-right {
        float: right;
    }

    .header-bar .navbar-nav .dropdown-menu {
        position: absolute;
        float: right;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 3px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }

    .header-bar .navbar-nav .open .dropdown-menu .divider {
        height: 1px;
        margin: 10.5px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .header-bar .navbar-nav .open .dropdown-menu > li > a {
        color: #666666;
    }

    .header-bar .navbar-nav .open .dropdown-menu > li > a:hover,
    .header-bar .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #212121;
        background-color: #eeeeee;
    }

    .header-bar .navbar-nav .open .dropdown-menu > .active > a,
    .header-bar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .header-bar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #212121;
        background-color: #eeeeee;
    }

    .header-bar .navbar-nav .open .dropdown-menu > .disabled > a,
    .header-bar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .header-bar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: #eeeeee;
    }
}

.header-bar .sidebar-toggle {
    cursor: pointer;
    display: inherit;
    position: relative;
    /*margin-right: 15px;*/
    /*padding: 9px 10px;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    background-color: transparent;
}

.header-bar .navbar-nav > li > a {
    padding-top: 14px !important;
    padding-bottom: 13px !important;
}

.header-bar .navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 7px 20px;
    /*border-top: 1px solid transparent;*/
    /*border-bottom: 1px solid transparent;*/
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 0px; /* 13.5px */
    margin-bottom: 0px;
    /*background: red;*/
}

.header-bar select {
    /*margin-right: 10px;*/
    /*color: #e8e8e8;*/
    /*background-color: #2196f3;*/
}

.header-bar a.sidebar-toggle {
    border-right: 1px #29B6F6 solid;
    /*border-right: 1px #ffffff solid;*/
}


/* Tax binning */
.krona-display {
    width: 100%;
    height: 800px;
    border: 1px solid #aaaaaa;
}

.hidden {
    display: none;
}

#tax-add-box {
    /*background-color: #f5f5f5;*/
    background-color: #fff;
    /*border-radius: 20px;*/
    /*border:red solid 2px;*/
    position: fixed;
    padding: 5px;
    /*margin-right: 5px;*/
    /*margin-bottom: 5px;*/
    right: 0;
    bottom: 0;
    z-index: 1000;
}

/* Also used on MSA/tree page */
#reset-tax-list, a.tree-results-link {
    cursor: pointer;
}

/* Small nav pills (used to adjust shown taxonomic level in piechart/barchart summaries) */
.small-nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 88%;
}


/* Core GF completeness */
.result_link {
    cursor: pointer;
}

.gf-table a {
    cursor: pointer;
}

.gf-table a:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}


/* To use to have text having a fixed-width font (for example in `textarea` elements) */
.fixed-width-text {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}


/* ICONS */
/* Help icons: gray, stuck on the right */
.help-tooltip-icon {
    color: #8c8c8c;
    cursor: default;
    float: right;
}

.help-tooltip-icon-inline {
    color: #8c8c8c;
    cursor: default;
}


/* And smaller icon size when needed */
.small-icon {
    font-size: 88%;
}


a.linkout:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}


.badge-header {
    display: inline-block;
    min-width: 9px;
    height: 13px;
    padding: 4px 6px 4px;
    /*padding: 3px 7px;*/
    font-size: 9px;
    font-weight: bold;
    color: #0c7cd5;
    line-height: 0.6;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
}


.dl-horizontal-lg dt {
    float: left;
    width: 260px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

.dl-horizontal-lg dd {
    margin-left: 280px;
}

.table-centered th, .table-centered tr {
    text-align: center;
}


/* Documentation */

.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Affix/scrollspy navigation: used in documentation and transcript pages */

#sidebar-nav {
    /*background: #ffffff;*/
    font-size: 90%;
    text-overflow: ellipsis;
}

#sidebar-nav a {
    color: #777777;
    font-size: .95em;
    transition: color 0.2s ease;
    padding: 0px 15px;
}

#sidebar-nav li a:hover,
#sidebar-nav li a:focus {
    /*background: white;*/
    color: #444444;
    transition: color 0.2s ease;
}

#sidebar-nav .active {
    font-weight: normal;
}

#sidebar-nav .active > a:first-child {
    color: #444444;
    transition: color 0.2s ease;
}

#sidebar-nav .nav {
    display: none;
}

#sidebar-nav .active .nav {
    display: block;
    text-indent: 15px;
}

#sidebar-nav .nav a {
    font-size: .85em;
    font-weight: normal;
}

#sidebar-nav .nav span {
    margin: 0 5px 0 2px;
}

#sidebar-nav .nav a,
#sidebar-nav a {
    box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

#sidebar-nav .nav .active a,
#sidebar-nav .nav .active:hover a,
#sidebar-nav .nav .active:focus a {
    font-weight: bold;
    box-shadow: -2px 0px 0px 0px #555555;
}

#sidebar-nav .active > a:first-child,
#sidebar-nav .active:hover > a:first-child,
#sidebar-nav .active:focus > a:first-child {
    font-weight: bold;
    box-shadow: -2px 0px 0px 0px #555555;
}

/*#sidebar-nav > a:first-child,*/
/*#sidebar-nav :hover > a:first-child,*/
/*#sidebar-nav :focus > a:first-child {*/
/*font-weight: bold;*/
/*box-shadow: -2px 0px 0px 0px #ff0000;*/
/*}*/

#sidebar-nav .nav .active span,
#sidebar-nav .nav .active:hover span,
#sidebar-nav .nav .active:focus span {
    display: none;
}

.application {
    border-top: 1px solid #c1e1ec;
}

.affix-top {
    position: relative;
}

.transcript-nav.affix {
    top: 70px;
}

.affix {
    top: 20px;
}


.affix,
.affix-bottom {
    width: 213px;
}

.affix-bottom {
    position: absolute;
}

#sidebar-nav li {
    /*height: 70%;*/
    /* background-color: green;*/
}

#sidebar-nav li.sidebar-nav-to-top a {
    margin-top: 12px;
    background-color: transparent;
    box-shadow: none;
}

.unavailable {
    cursor: not-allowed !important;
    color: #888888;
}


/* Badges for GO categories display */

.badge-go-bp {
    background-color: #fd7272;
}

.badge-go-cc {
    background-color: #3b3b98;
}

.badge-go-mf {
    background-color: #1abc9c;
}

.badge-go-nc {
    background-color: #bbbbbb;
}

.badge-sm {
    font-size: 70%;
    padding: 3px 4px 3px;
}

span.badge-go {
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    line-height: 1.5em;
    text-align: center;
    width: 1.5em;
    display: inline-block;
    font-size: 0.9em;
    font-weight: normal;
}


span.badge-go-sm {
    font-size: 0.7em;
}


/* Clipboard copy link */
.clipboard-copy {
    color: #777777;
    /*background-color: red;*/
    cursor: copy;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #aaaaaa;
    /*border: blue 1px solid;*/
    margin-top: -8px;
    width: 110px;
    font-size: 0.77em;
}


.stats-progress {
    margin-top: 11px;
    margin-bottom: 0px;
}

.stats-metric {
    text-align: right;
    font-weight: bold;
    padding-right: 25px;
}

.stats-value {
    text-align: left;
}

#toggle-extra-hits, #toggle-extra-settings {
    cursor: pointer;
}


/* Make progress bars squared */
.progress-bar:last-child {
    border-radius: 0 0 0 0;
}


/* Make range input a bit more readable... */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 4px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 34, 0, 0), 0px 0px 0px rgba(0, 60, 0, 0);
    background: #cae6fc;
    border-radius: 0px;
    border: 0px solid #18d501;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #00aa00, 0px 0px 0px #00c300;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #2196f3;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 34, 0, 0), 0px 0px 0px rgba(0, 60, 0, 0);
    background: #cae6fc;
    border-radius: 0px;
    border: 0px solid #18d501;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #00aa00, 0px 0px 0px #00c300;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #2196f3;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #7dc2f8;
    border: 0px solid #18d501;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 34, 0, 0), 0px 0px 0px rgba(0, 60, 0, 0);
}

input[type=range]::-ms-fill-upper {
    background: #cae6fc;
    border: 0px solid #18d501;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 34, 0, 0), 0px 0px 0px rgba(0, 60, 0, 0);
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #00aa00, 0px 0px 0px #00c300;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #2196f3;
    cursor: pointer;
    height: 2px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #cae6fc;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}


/* Vertically center content */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/* Highcharts tooltip style (used in a hack where we want tooltips to be displayed on top of the axis labels) */
.highcharts-tooltip span {
    background-color: #fff;
    border: 1px solid #2196f3;
    opacity: 0.8;
    padding: 7px;
    z-index: 9999;
}

.hc-tooltip-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 0px solid #fff;
    display: inline-block;
    margin-right: 2px;
}


/* Override navbar height to be more consistent between external and experiment layouts */
.navbar {
    min-height: 50px !important;
}

nav .navbar-nav > li > a, .navbar-brand {
    padding-top: 14px !important;
    padding-bottom: 0 !important;
    height: 50px;
}

nav .navbar-nav .navbar-form {
    margin-top: 7px;
    margin-bottom: 7px;
}


.well-export {
    font-family: monospace;
    font-size: 88%;
}


/* Meta-annotation legend squares + colors (for phylogenetic tree legend) */
.meta-square::before {
    content: '\25A0';
}

.meta-ni {
    color: #cccccc;
}

.meta-p {
    color: #33638d
}

.meta-qfl {
    color: #1f968b;
}

.meta-fl {
    color: #73d055;
}

.subsets-circle-in::before {
    color: #2196f3;
    content: '\25CF';
}

.subsets-circle-out::before {
    color: #2196f3;
    content: '\25CB';
}

.msa-wrapper {
    background-color: #fff;
    border: lightgrey solid 1px;
    padding: 10px;
    margin-top: 15px;
}


/*
 * Experiment header bar search
 */

/* Container with search bar, that takes all remaining space in the header (between left and right menu items) */
#header-search-container {
    /* background: rebeccapurple; */
    display: flex;
    height: inherit;
}

/* Wrapper around the search element */
#search-wrap {
    width: 49%;
    height: 30px; /* Replace? */
    position: relative;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
}


/* Large Devices, Wide Screens (`-md` and below) */
@media only screen and (max-width: 1200px) {
    #search-wrap {
        width: 85%;
        left: 50%;
    }
}


/* Medium Devices, Desktops (`-sm` and below) */
@media only screen and (max-width: 992px) {
    #search-wrap {
        width: 80%;
        left: 50%;
    }

}


/* Search element itself */
#search {
    width: 100%;
    position: relative;
    display: inline-flex;
    -webkit-transition: box-shadow 80ms;
    transition: box-shadow 80ms;
    background: #ffffff;
}

#search:focus-within {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

#search-term {
    width: 66%;
    border-left: 1px solid #d5d5d5;
    padding-left: 10px;
    height: 30px;
    border-radius: 0px 0 0 0px;
    outline: none;
    color: #bbbbbb;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: color 80ms;
}


#search-button {
    width: 32px;
    height: 30px;
    color: #666666;
    background: #ffffff;
    border: none;
    /*border-left: 1px solid #d5d5d5;*/
    text-align: center;
    border-radius: 0 0px 0px 0;
    cursor: pointer;
    font-size: 14px;
}


#search-type {
    width: 34%;
    height: 30px;
    position: relative;
    display: inline-flex;
    text-overflow: ellipsis;
    color: #666666;
    background-color: #ffffff;
    border-radius: 0px 0 0 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Override bootstrap-paper shadow on focus */
#search-type:focus, #search-term:focus {
    -webkit-box-shadow: none;
    box-shadow: none;

}

#search-term:focus {
    color: #666666;
}

#search-suggestions {
    color: black;
    background-color: #fff;
    position: absolute;
    font-size: 88%;
    /*-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);*/
    /*box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);*/
    -webkit-box-shadow: 0px -2px 0px 0px rgba(255, 255, 255, 1), 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -2px 0px 0px rgba(255, 255, 255, 1), 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-top: 2px;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: box-shadow 80ms;
    transition: box-shadow 80ms;
}

#search-suggestions .row-suggestion {
    padding-left: 7px;
    color: #666666;
    text-overflow: ellipsis;
    cursor: pointer;
}

#search-suggestions .row-suggestion:hover {
    background-color: #e9e9e9;
}

#search-suggestions .row-suggestion.active {
    background-color: #b1b1b1;
}


#search-clear {
    right: 5px;
    position: relative;
    z-index: 10;
    /* top: 10px;*/
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    -webkit-transition: color 80ms;
    transition: color 80ms;
}

#search-clear:hover {
    color: #aaa;
}


/* Cookie consent message style */
/* Adapted from http://codepen.io/Octavector/pen/ldFnr */
#okCookie {
    background-color: #F2F2F2;
    color: #555555;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    /*  font-family:sans-serif; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    z-index: 10;
}

#okCookie p {
    margin: 0 0 0 0;
    float: left;
    padding: 0px 0px;
}

#okCookie #okClose {
    padding: 2px 15px;
    float: right;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
}

#okCookie #okClose {
    background-color: #1abc9c;
    /*  text-shadow:0px 1px 1px #507F2B;
      box-shadow:inset 0px -1px 1px #507F2B; */
}

#okCookie #okClose:hover {
    background-color: #1acbaa
}


.okcBeginAnimate {
    -webkit-animation: okcAnimate 2s;
    animation: okcAnimate 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes okcAnimate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes okcAnimate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Medium Devices, Desktops (`-md` and below) */
@media only screen and (max-width: 1200px) {
    #okCookie p {
        font-size: 80%;
    }

    #okCookie #okClose {
        padding: 0px 11px;
        font-size: 90%;
    }

}

/* Small Devices, Desktops (`-sm` and below) */
@media only screen and (max-width: 992px) {
    #okCookie p {
        font-size: 70%;
    }

    #okCookie #okClose {
        padding: 0px 11px;
        font-size: 80%;
    }

}


.tax-lineage {
    padding: 0px 0px;
    /*margin-bottom: 23px;*/
    margin-bottom: 0px;
    list-style: none;
    /*background-color: #f5f5f5;*/
    /*border-radius: 3px;*/
    display: inline-block;
    /*font-size: 88%;*/
}

.tax-lineage > li {
    display: inline-block;
}


.tax-lineage > li + li::before {
    content: "\00a0>\00a0";
    padding: 0 5px;
    color: #cccccc;
}


.textarea-sqce {
    width: 100%;
    /*font-size: 0.9em;*/
    font-size: 14px;
    height: 138px;
    /*resize: none;*/
}

.textarea-sqce-aa {
    width: 100%;
    /*font-size: 0.9em;*/
    font-size: 14px;
    height: 88px;
    /*resize: none;*/
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* A class to offset anchor links by the height of the experiment header bar */
a.fixed-header-anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}


.transcript-attr {
    text-align: right;
    font-weight: bold;
    padding-right: 25px;
}


.page-section-sm h3 {
    margin-bottom: 11px;
}

.material-icons {
    /*border: 1px red solid;*/
    vertical-align: middle;
}

/* Rules for sizing the icons. */
.material-icons.md-15 {
    font-size: 15px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-21 {
    font-size: 21px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.doc-figure img {
    cursor: pointer;
    border: 1px lightgray solid;
    padding: 5px;
    transition: filter 0.2s;
}

.doc-figure img:hover {
    cursor: pointer;
    filter: brightness(105%) grayscale(40%);
}

.doc-sidebar-header {
    padding-top: 15px;
    padding-bottom: 10px;
}

.panel.panel-slim .list-group-item {
    padding: 9px;
}

.panel.panel-slim .list-group-item.faq-answer {
    padding: 15px 38px;
}

code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #6a737d;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}


.paper-blockquote {
    font-size: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body.external {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    font-size: 90%;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

@media only screen and (max-width: 992px) {
    .footer {
        font-size: 80%;
    }

}


/* Loading spinner for ajax requests */
.ajax-spinner {
    display: inline-block;
    border: 4px solid #616161;
    border-left-color: transparent;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    -webkit-animation: spin 0.9s linear infinite; /* Safari */
    animation: spin 0.9s linear infinite;
}

.ajax-spinner-sm {
    border: 3px solid #616161;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    width: 18px;
    height: 18px;
    -webkit-animation: spin 0.6s linear infinite; /* Safari */
    animation: spin 0.6s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.hc-enrichment {
    width: 100%;
    /*height: 425px;*/
    height: 475px;
}

.hc-length-distribution {
    width: 100%;
    height: 480px;
}


@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 180px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 200px;
    }
}


#download-list {
    cursor: pointer;
}

.no-margin-top {
    margin-top: 0;
}

#table-header {
    margin-bottom: 10px;
}


tr.warning-faint td, td.warning-faint {
    background: #ffecd0;
}

tr.warning-faint:hover td, tr:hover td.warning-faint {
    background: #ffe6c1;
}

.label-dark {
    /*border: 1px #9e9e9e solid;*/
    background-color: #9e9e9e;
    padding: 0em 0em 0em .3em;
    transition: background-color 0.2s;
    display: inline-block;
    vertical-align: middle;
    cursor: help;
    margin-top: 0.5em;
    /*min-height: 30px;*/
}

.label-dark:hover .badge-light,
.label-dark:focus .badge-light {
    background-color: #cfcfcf;
}

.label-dark:hover,
.label-dark:focus,
.label-dark[href]:hover,
.label-dark[href]:focus {
    background-color: #757575;
}

.badge-light {
    display: inline-block;
    padding: 0.25em 0.4em;
    /*font-size: 75%;*/
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: bold;
    color: #616161;
    background-color: #e0e0e0;
    transition: background-color 0.2s;
}

.popover-content {
    overflow-y: scroll;
    max-height: 85px;
}

ul.table-items {
    padding: 0;
    list-style: none; /* Remove default bullets */
    margin-bottom: 3px;
}

ul.table-items li:before {
    /* Unicode bullet symbol */
    content: '\2022';
    /* Bullet color */
    color: #bbbbbb;
    font-size: 1em;
    padding-right: 0.25em;
}

.padded-top-1em {
    padding-top: 1em;
}

.row-table-download {
    margin-bottom: 10px;
}


/* Override some dataTables styles */
.dataTables_length {
    display: inline-flex;
    /*text-align: right;*/
    vertical-align: top;
    margin-left: 15px;
}

.dataTables_info {
    display: inline-flex;
    /*text-align: right;*/
    vertical-align: top;
    margin-right: 15px;
    padding-top: 3px !important;
}

.dataTables_length select {
    width: auto !important;
}

.dataTables_filter {
    /*text-align: right;*/
    display: inline-flex;
    margin-left: 10px;
}

.dataTables_filter input {
    max-width: 120px !important;
}

.dataTables_paginate {
    display: inline-flex;
}

.dataTables_info {
    color: #bbbbbb;
}

/* GO enrichment graph */
#go-graph-viz {
    border: 1px solid #aaaaaa;
}

p.go-graph-error {
    margin-top: 15px;
    margin-left: 15px;
}


/* Max width helper, used in 'change settings' and 'experiment access' forms */
.mw-800 {
    max-width: 800px;
}

label.required::after {
    color: #e51c23;
    content: " *";
}


label.optional::after {
    color: #a6a6a6;
    content: " optional";
    font-size: 0.85em;
}

/* Homepage */
#news-feed {
    padding-top: 15px;
    padding-right: 10px;
    max-height: 450px;
    overflow-y: auto;
}

